<div id="social">
  <div class="container">
    <div class="row centered social-icons icon-circle">
      <div class="col-lg-2">
        <a href="http://github.com/spf13"><i class="fa fa-github"></i></a>
      </div>
      <div class="col-lg-2">
        <a href="http://twitter.com/spf13"><i class="fa fa-twitter"></i></a>
      </div>
      <div class="col-lg-2">
        <a href="https://www.linkedin.com/in/stevefrancia"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="col-lg-2">
        <a href="https://instagram.com/spf13579"><i class="fa fa-instagram"></i></a>
      </div>
      <div class="col-lg-2">
        <a href="https://www.facebook.com/steve.francia"><i class="fa fa-facebook"></i></a>
      </div>
      <div class="col-lg-2">
        <a href="http://slideshare.net/spf13#"><i class="fa fa-slideshare"></i></a>
      </div>

    </div><!--/row -->
  </div><!--/container -->
</div><!--/social -->
